* {
  box-sizing: border-box;
}

img {
  margin-top: 25px;
  margin-left: 45px;

}

.header-container {
  display: flex;
  flex-direction: row;

}

nav ul {
  list-style: none;
  text-align: left;
  margin-left: 450px;
}

nav ul li {
display: inline-block;
font-size: 0.9em;
margin: 10px;

}

nav ul li a {
  text-decoration: none;
  /* font-family: sans-serif; */
  font-family:  'Press Start 2P', cursive;
  font-size: 11px;


}


.search {

  margin-left: 400px;
  margin-top: 20px;
  width: 400px;

}


div ul {
list-style: none;

}

div ul li a {
  text-decoration: none;
}

/*.cat {
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-template-rows: 100px 100px;
} */

 .wrapper {
  display: grid;
  grid-template-columns: 420px 420px 420px;
  grid-template-rows: 220px 220px 220px;
  grid-gap: 10px;
  margin: 40px;
  margin-left: 80px;
  background-color: #fff;
  color: #444;
}


.box {
  background-color: #444;
   /* color: #fff; */
  color: black;
  padding: 20px;
  font-size: 150%;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
  text-decoration: none;

}

 .hl {
     background-color: #fff2ac;
     background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);

 }



a {
  text-decoration: none;
  font-family:sans-serif;
}

/*  stuff to delete */

{
  f
}
/*  stuff to not save */

.a {
background-image: url("../images/braids.jpg");
background-size: cover;
/* filter: invert(0.2); */
}

/* .one {
  background-color: pink;
  opacity:0.5;

} */

.b {
  /* background-color: green; */
  background-image: url("../images/eyeshadow.jpg");
  background-size: cover;
  /* filter: invert(0.2); */

}
.c {
  /* background-color: orange; */
  background-image: url("../images/girlbeauty.jpg");
  background-size: cover;
  /* filter: invert(0.2); */


}
.d {
  /* background-color: blue; */
  background-image: url("../images/nails.jpg");
  background-size: cover;
  /* filter: invert(0.2); */


}
.e {
  /* background-color: purple; */
  background-image: url("../images/cake.jpg");
  background-size: cover;
  /* filter: invert(0.2); */


}
.f {
  /* background-color: maroon; */
  background-image: url("../images/fashion2.jpg");
  background-size: cover;
  /* filter: invert(0.2); */


}
.g {
  /* background-color: red; */
  background-image: url("../images/supplies.jpg");
  background-size: cover;
  /* filter: invert(0.2); */


}
.h {
  /* background-color: navy; */
  background-image: url("../images/hairdress.jpg");
  background-size: cover;
  /* filter: invert(0.2); */

}
.i {
  /* background-color: teal; */
  background-image: url("../images/lashes3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* filter: invert(0.2); */

}
/* 1399.5px */
@media only screen and (max-width: 1370px) {

nav ul {

  /* margin-left: 450px; */
 }
 .wrapper {
  display: grid;
  grid-template-columns: 400px 400px 400px;
  grid-template-rows: 200px 200px 200px;
  grid-gap: 10px;
  margin: 40px;
  margin-left: 80px;
  background-color: #fff;
  color: #444;

}
}

/*  1350*/
@media only screen and (max-width: 1290px) {

nav ul {

  /* margin-left: 450px; */
 }
 .wrapper {
  display: grid;
  grid-template-columns: 380px 380px 380px;
  grid-template-rows: 180px 180px 180px;
  grid-gap: 10px;
  margin: 40px;
  margin-left: 80px;
  background-color: #fff;
  color: #444;
}
}
@media only screen and (max-width: 1190px) {

nav ul {

  /* margin-left: 450px; */
 }
 .wrapper {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: 180px 180px 180px;
  grid-gap: 10px;
  margin: 40px;
  margin-left: 80px;
  background-color: #fff;
  color: #444;

} }

@media only screen and (max-width: 1100px) {

nav ul {

  /* margin-left: 450px; */
 }
 .wrapper {
  display: grid;
  grid-template-columns: 420px 420px;
  grid-template-rows: 220px 220px 220px 220px 220px;
  grid-gap: 10px;
  margin: 40px;
  margin-left: 80px;
  background-color: #fff;
  color: #444;
}
}
@media only screen and (max-width: 915px) {

nav ul {

  /* margin-left: 450px; */
 }
 .wrapper {
  display: grid;
  grid-template-columns: 400px 400px;
  grid-template-rows: 200px 200px 200px 200px 200px;
  grid-gap: 10px;
  margin: 40px;
  margin-left: 80px;
  background-color: #fff;
  color: #444;

}
}

@media only screen and (max-width: 810px) {

nav ul {

  text-align: center;
  margin-left: 140px;
 }
 .wrapper {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 300px 300px 300px 300px 300px 300px 300px 300px 300px;
  grid-gap: 10px;
  margin: 40px;
  margin-left: 80px;
  background-color: #fff;
  color: #444;
}

}
