img {
  margin-top: 25px;
  margin-left: 45px;

}

h1 {
  font-family:  'Press Start 2P', cursive;
font-size: 40px;
margin-top: 90px;
/* text-align: center; */
}

p {
  /* font-family:  'Press Start 2P', cursive; */
  font-family: 'VT323', monospace;
  font-size:25px;

}
